<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/css/style-project.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/js/profile.js"></script>
</head>
<body>
	<div class="logo">
		<a href="#">
				<img src="/images/logo-pr.gif" alt="travel html5 template" title="travel html5 template">
		</a>
	</div>
<div class="wrap">
	<!-- start grids_of_3 -->
	<div class="grids_of_3">
		<div class="grid1_of_3">
			<div class="grid_img">
				<img src="/user/<%=user.table_name%>/ava.png" alt="Avatar"/>
						<div class="list_top">
							  <h4 id="username"><%=user.username%></h4>
						</div>
			</div>
			<div class="menu_box_list">
				<section class="ac-container">
					<div>
						<input id="ac-1" name="accordion-1" type="checkbox" />
						<label  for="ac-1" class="homebottom"><i></i><a href="/profile">Домой</a></label>

						<label id="new-project" for="ac-1" class="grid1"><i></i><a id="createnewproject" href="#">Создать новый проект</a></label>
					</div>
					<%table_names.forEach(function(table_names){ %>
					<div>
						<input id="<%=table_names.name%>" name="accordion-1" type="checkbox" />

						<label for="<%=table_names.name%>" class="grid2"><i></i><%=table_names.name%></label>
						<article class="ac-small">
							<ul>
									<li><a id="createnewpreproject" href="#">Создать подпроект</a>
							</ul>
						</article>
					</div>
					<% }); %>
				</section>
				<div class="clear"></div>
			</div>
		</div>
		<div class="grid1_of_3 left main">
			<div class="btn_style bg">
				<form class="searchform">
					 <div class="search">
						<input type="search" name="q">
						<input type="submit" value="">
					</div>
 				</form>
				<div class="top-nav">

						<ul class="menu2">
							<li>
								<div  class="nav-icon"> </div>
								<ul>
									<li><a class="root-nav1" href="/logout">LOGOUT</a></li>
									<li><a id="settings" href="#" class="root-nav2">SETTING PROFILE</a></li>
								</ul>
							</li>
						</ul>
				</div>

				<div class='name'>

					<h4>MY PROFILE</h4>
				</div>

			</div>
			<div class="view">
			<div class="inf_form">
				<div class="avatar">
					</div>
					<div class="inf_project">
						<p><b>Name project:</b> 2napp</p>
						<p><b>description:</b>:How successful could you be if you stopped being slowed down by day-to-day distractions, and started making real, tangible progress on your most important work and goals?

If you’re tired of always feeling like you’re farther behind than you want to be, and you’re ready to start accomplishing the things you want truly to do that will move your career and your life forward, then you need the Spark Planner. </p>
	<p><b>subject:</b>start-up</p>
	<p><b>format:</b>closed</p>
	<p><b>participants:</b>Lashko Artem, Pavlenko Vlad, Nikita Shabalin</p>
			</div>
			</div>
<<<<<<< HEAD:views/projectlist.ejs
				<div class="container">

=======

				<div class="container">

>>>>>>> refs/remotes/origin/master:project/projectlist.html
				  <div class="Area">
				    <div class="L">
				    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrEyVlaWx0_FK_sz86j-CnUC_pfEqw_Xq_xZUm5CMIyEI_-X2hRUpx1BHL"/>
				        </div>
				    <div class="text R textR">Hi Mariam, How Areg You?
				    </div>
				  </div>
<<<<<<< HEAD:views/projectlist.ejs

				    <div class="Area">
				    <div class="R">
				    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSxU35znsBhAWQd5BouLIVtH1P4WNa0JZ_XXpyViHOIARbM2igbNgC6_kp5"/>
				    </div>
				    <div class="text L textL">Hi Sami, Fine, Tdhankfdfdfd fdfdfd dfdfdfd fddfdfdfd dfdfdfdfd dfdfdfdf er rerere w dw w sf fdcds wd wqd qwd qwdwq d qw dwq d wqd wq d wqdqw f df d f ds fdsfds f df ds fd sf dsf ds f dsf sd f ds fds f dsf ds f dsf ds f fsd dfs dsf d fsd  fd sdf  df sdf dsf ds f fd fds dfs fd  fsd fds fds fds fds  fds fds fds fds fds fds  fd sfd fds sdf fds fds  dfsf d sfd fds f sdf fd sd  fds You, How Are You?
				    </div>
				  </div>


				  </div>
<div class="container1">
				    <div class="Area">
				    <textarea placeholder="Введите сообщение"></textarea>
							<button type="button">Отправить</button>
				  </div>

				</div>
	</div>

=======

				    <div class="Area">
				    <div class="R">
				    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSxU35znsBhAWQd5BouLIVtH1P4WNa0JZ_XXpyViHOIARbM2igbNgC6_kp5"/>
				    </div>
				    <div class="text L textL">Hi Sami, Fine, Tdhankfdfdfd fdfdfd dfdfdfd fddfdfdfd dfdfdfdfd dfdfdfdf er rerere w dw w sf fdcds wd wqd qwd qwdwq d qw dwq d wqd wq d wqdqw f df d f ds fdsfds f df ds fd sf dsf ds f dsf sd f ds fds f dsf ds f dsf ds f fsd dfs dsf d fsd  fd sdf  df sdf dsf ds f fd fds dfs fd  fsd fds fds fds fds  fds fds fds fds fds fds  fd sfd fds sdf fds fds  dfsf d sfd fds f sdf fd sd  fds You, How Are You?
				    </div>
				  </div>


				  </div>
<div class="container1">
				    <div class="Area">
				    <textarea placeholder="Введите сообщение"></textarea>
							<button type="button">Отправить</button>
				  </div>

				</div>
	</div>


>>>>>>> refs/remotes/origin/master:project/projectlist.html
			<div class="footer">
				<p class="link">© All rights reserved | Template by&nbsp;<a href="#"> TUNATEAM</a></p>
			</div>
		</div>
	</div>
</div>
<div id="hover"></div>
<div id="settingspopup">
    	<div id="closesettingspopup">X</div>
			<div class="contact-text2">
			 <div>
			 	<form id="changeprofileimage" class="image" action="/upload" enctype="multipart/form-data" method="post">
					<a href="#">
					<img src="/images/camera.png" alt=".">
					<p>Загрузить фотографию</p>
					</a>
					<input class="inputtypefile" type="file" name="upload" multiple="multiple">
				 </form>
						 <input id="newfullname" placeholder="Полное имя" class="mail" type="text" required="">
						 <input  type="password" class="form-control1" placeholder="Старий пароль">
						 <input  type="password" class="form-control1" placeholder="Новый пароль">
             <input  type="password" class="form-control1" placeholder="Повторите пароль">
						 <input id="newemail" placeholder="E-mail" class="mail" type="text" required="">
						 <div >
				 			<input id="settingsusersubmitbutton" class="submit2" type="submit" value="Сохранить изменения">
				 		</div>
				 		<div id="errorinsettingsprofile"> Changes are not applied</div>
			 </div>
		 </div>
</div>
<div id="popupforproject">
    <div id="closenewproject">X</div>
	<div class="new_form">
		<div class="Regisration">
			<div class="contact-text2"><h3>Новый проект</h3>
 				<form>
				<div class="image2">
					<a href="#single.html">
						<img src="/images/camera.png" alt="">
						<p>Логотип проекта</p>
					</a>
				</div>
 				<input id="newprojectname" placeholder="Название проекта" class="mail" type="text" required="">
				<p><select id="selectthemenewproject" name="num" form="data">
					<option value="0">Выбрать тему</option>
			    	<option value="1">Дизайн</option>
			    	<option value="2">Путешествия</option>
			   		<option value="3">Бизнес</option>
					<option value="4">Стартап</option>
					<option value="5">Обучение</option>
					<option value="6">Мероприятие</option>
  				</select></p>
				<div >
					<input class="submit3" type="submit" value=" Добавить участников">
				</div>
					<p><select id="selectformatnewproject" name="num" form="data">
						<option value="0">Открытый</option>
						<option value="1">Закрытый</option>
					</select></p>
 					<textarea id="newprojecttextabout" class="textforadditions" placeholder="Описание проекта"></textarea>
 				</form>
 			</div>
		</div>
		<div >
			<input class="submit2" id="submitbuttonnewproject" type="submit" value="Добавить проект">
		</div>
	</div>
</div>
</body>
</html>
